#b1{
    min-height:100vh;
    background: #2F3036 url(/img/b1/fon4.png) no-repeat;
    background-size:cover;
    position:relative
}

#b1 .hfon{
    position:absolute;
    min-height:100%;
    width:100%;
    background-color:rgba(0,0,0,.67);
}

#b1 .maxw{
    padding-top:150px;
    padding-bottom:13px;
}
@media (max-width: 850px) {
    #b1 .maxw{
        padding-top:80px;
    }
}

#b1 h1{
    font-size: clamp(20px, 8cqi, 42px);
    color: var(--white-col);
    text-align:left;
    margin-left:clamp(0px,13cqi,180px);
}

#b1 h1:nth-child(2){
    text-align: right;
    margin-right:clamp(0px,13cqi,180px);
}

#b1 h2{
    margin: clamp(25px, 5cqi, 40px) auto;
    font-size: clamp(16px, 6cqi, 36px);
    color: var(--yellow-col);
    text-wrap: balance;
}

#b1 p{
    font-size:clamp(14px, 3cqi,18px);
    color: var(--white-col);
    margin: 5px clamp(5px, 6cqi, 48px);
}

/*Temp*/

#b2{
    min-height:900px;
    /*background: #2F0036;*/
}
/* #b2 > div{
    position: sticky;
    top: 0;
    z-index:1;
} */

#b3{
    min-height:1200px;
    background: #250096;
}
/* #b3 > div{
    position: sticky;
    top: 0;
    z-index:2;
} */


#b4{
    min-height:1200px;
    background: #259996;
}