#b1{
    min-height:100vh;
    background: #2F3036 url(/img/b1/fon4.png) no-repeat;
    background-size:cover;
    position:relative
}

#b1 .hfon{
    position:absolute;
    min-height:100%;
    width:100%;
    background-color:rgba(0,0,0,.67);
}

#b1 .maxw{
    padding:150px 0 10px;
}

#b1 h1{
    font-size: 8cqi;
    color: var(--white-color);
}

#b1 h2{
    font-size: 5cqi;
    color: var(--yellow-color);
}


/*Temp*/

#b2{
    min-height:900px;
    /*background: #2F0036;*/
}
/* #b2 > div{
    position: sticky;
    top: 0;
    z-index:1;
} */

#b3{
    min-height:1200px;
    /* background: #250096; */
}
/* #b3 > div{
    position: sticky;
    top: 0;
    z-index:2;
} */


#b4{
    min-height:1200px;
    background: #259996;
}