nav.m1{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    z-index:3;
    height: 30px;
}
nav.m1 .maxw{overflow:visible}
nav.m1 ul{margin:0;text-align: justify;}
nav.m1 ul:before{
	content: '';
	display: block;
	width: 100%;
	height: 0;
}
nav.m1 ul:after {
	content: '';
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	display: inline-block;
}
nav.m1 ul li {display: inline}
nav.m1 ul li a {
    display:inline-block;/* устраняет разрыв слов в меню */
    font-weight:400;
    font-size:18px;line-height: 130.02%; color: #F4F4F4;
    text-decoration:none;}
nav.m1 ul li a:hover {color: #E5BB3B; padding-bottom: 11px; border-bottom: 1px solid #E5BB3B;}

nav.m1.fixed {background-color: #fcfcfc; padding: 10px 0; position: fixed; top: 0; right: 0; left: 0; z-index: 2;}
nav.m1.fixed ul li a {color: #2F3036;}

@media (max-width: 1070px) {

    nav.m1 ul li a {
        font-size: 16px;
    }
}

@media (max-width:950px){
    nav.m1{display:none}
}