#b1{
    position:relative;
    background:#202020 url("/img/b1/fon.jpg")no-repeat center top/cover;
    min-height:100vh;
    padding:170px 0 0;
    color:#fcfcfc;
}
#b1 .cont{
    position: relative;
    width:100%;
    display: grid;
    grid-template-columns:1.2fr 1fr;
    grid-column-gap:40px;
    align-items:center;
    }
    @media (max-width: 1080px) {
        #b1 .cont{
            grid-template-columns:1fr;
        }
    }
#b1 .l_b{
    display:grid;
    /* border:#C12800 1px solid; */
}
#b1 .l_b p:nth-child(1) {
    font-weight:300;
    font-size:18px;
    line-height:130.02%;
    letter-spacing:-0.03em;
    color:#DDDDDD;
    margin:10px 0}

#b1 .l_b h1 {
    margin:0;
    text-align:left;
    font-weight:700;
    font-size:48px;
    line-height:111%;
    letter-spacing:-0.03em;}
    @media (max-width:365px){
        #b1 .l_b h1{
            font-weight:500;
            font-size:34px;
            line-height:100%;
        }
    }
#b1 .l_b h2 {
    margin:0;
    text-align:left;
    font-weight:300;
    font-size:32px;
    line-height:130%;
    letter-spacing:-0.03em;
    margin-bottom:20px}


#b1 .l_b p:nth-child(4) {
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
        color: #DDDDDD;
        margin-bottom: 56px}

#b1 .l_b .targets{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 60px}
    @media (max-width: 650px) {
        #b1 .l_b .targets{
            grid-template-columns:repeat(1, 1fr);
        }
    }

#b1 .l_b .target{
    border-radius:10px;
    backdrop-filter:blur(49px);
    background: rgba(255, 255, 255, 0.06);
    position:relative;
    padding:70px 0 0} 

#b1 .l_b .target img{
        max-width:220px;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translate(-50%,0%)}
#b1 .l_b .target p{
    text-align: center;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fcfcfc;}








#b1 .r_b{
    position: relative;
    /* border: #CE8150 1px solid; */
}
@media (max-width: 1080px) {

    #b1 .r_b{
        display: none;
    }
}
#b1 .example{
    position:relative;
    height:470px;
}
#b1 .example img:nth-child(1){
    will-change: transform;
    width: 380px;
    position: absolute;
    top: 0; left: -60px;}
#b1 .example img:nth-child(2){
    will-change:transform;
    width:340px;
    position:absolute;
    bottom:0;
    right:-5px;}
#b1 .example img.landing1{animation: landing 4s linear infinite}
#b1 .example img.landing2{animation: landing 3.3s linear infinite}